.actionIconContainer {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
}

.actionIconEdit {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
